.caputure-nav{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .capture{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .capture-page{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
    padding: 0px 5vh;
    color: rgb(0, 0, 0);
  }
  .capture-details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .capture-video video{
    width: 350px;
    height: 200px;
  }
  .capture-input{
    width: 100%;
  }
  .capture-input input{
    width: 100%;
    margin-top: 0.5rem;
    padding: 8px;
    border-radius: 10px;
    border-color: rgba(161, 159, 157, 0.432);
  }
  .capture-btn{
  margin-top: 1rem;
  }
  .status{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(250, 109, 109);
  }
  .connectWebSocket{
    padding: 0.8rem 1.3rem;
    background-color: #0f5ddb;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
  }
  .login-dispplay{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-container{
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  
  .profile{
    text-align: center;
    color: rgb(96, 191, 235);
    padding-top: 15px;
    cursor: pointer;
  }
  
  h1{
    text-align: center;
    color: rgb(96, 191, 235);
    margin: 1px;
  }
  
  form{
    margin-top: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
  
  .credential{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    width: 100%;
  }
  
  .text{
    font-size: 13px;
    border: none;
    box-shadow: 0px 3px rgb(92, 89, 89);
    cursor: pointer;
    padding: 0.5rem;
    background-color: transparent;
    outline: none;
  }
  
  .flex{
    display: flex;
    align-items: center;
  }
  
  .regis{
    background-color: rgb(7, 163, 85);
    color: white;
    text-align: center;
    font-size: 18px;
    border: transparent;
    border-radius: 15px;
    cursor: pointer;
    padding: 1rem 3rem;
  }
  
  .regis:hover{
    box-shadow: 0px 1px 4px 3px rgb(21, 218, 119);
  }
  
  .webcam-container {
    position: relative;
    width: 100%;
    padding-top: 75%; 
    display: none; 
  }
  
  .webcam-container.active {
    display: block; 
  }
  
  .webcam {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .percentage-progress{
    max-width: 52rem;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
  }
  .percentage-progress .small-percentage{
    font-size: 10px;
    text-transform: uppercase;
    color: #878787;
  }
  .percentage-progress .percentage-info{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 0 1rem 0;
  }
  .percentage-progress .completion{
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    align-items: center;
  }
  .percentage-progress .completion .percentage-complete{
    font-size: 70%;
    font-weight: 400;
  }
  .percentage-progress .percentage-bar {
    position: relative;
    width: 100%;
    height: 15px; 
    background-color: #f2f4fb;
    border-radius: 7px;
    overflow: hidden; 
  }
  
  .percentage-progress .percentage-bar span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; 
    background-color: #0f5ddb; 
    border-radius: 7px;
    width: 0%; 
    transition: width 0.3s ease; 
  }
  .percentage-progress-success{
    color: green;
    font-size: 2rem;
  }
  .percentage-progress-color{
    color: #0f5ddb; 
    font-size: 2rem;
  }

  @media screen and (max-width: 450px){
      .capture-page{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 0px 1vh;
    color: rgb(0, 0, 0);
  }
  .capture-details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .capture-video video{
    width: 250px;
    height: 200px;
  }
  .percentage-progress {
  width: 100%;
    width: 100%;
    margin: 1rem ;
    padding: 0rem;
}
.capture-btn{
  display: flex;
    align-items: center;
    justify-content: center;
}
  }
