.home-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
}

/* Navbar Closed State */
.dashboard-content {
    display: flex;
    justify-content: flex-end;
    transition: margin-left 0.3s ease;
    margin-left: 0;
    scroll-behavior: none;
}

.home-page.navbar-open .dashboard-content {
    margin-left: 250px;
}

.content-cover {
    padding: 20px 20px 20px 5px;
    width: 100%;
}

.content-toggle {
    width: 75%;
}

.overview {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
    margin-left: 10%;
}

.dashboard-card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card-span {
    padding: 0.5rem 1rem;
    background: #c0d0ec;
    border-radius: 50%;

}

.card {
    padding: 2rem;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.095);
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    border-radius: 10px;
}

.card p {
    font-size: 1rem;
}

.present {
    margin-left: 1rem;
}

.present span {
    font-size: 15px;
    color: red;
}

.user-info {
    padding: 1rem;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.095);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    flex-direction: column;
    width: 20%;
    margin-left: 8%;
    margin-top: 3.5rem;
}

.user-info img {
    width: 18vw;
    height: 25vh;
    border-radius: 10px;
}

.info {
    text-align: center;
    margin-top: 1rem;
    border: 1px solid black;
    background: #d9e5f9;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    padding: 1rem;
    width: 75%;
    border-radius: 15px;

}



@media (max-width: 900px) {
    .dashboard-card {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .content-cover {
        padding: 20px 20px 20px 5px;
        width: 70%;
    }

    .content-toggle {
        width: 100%;
    }

    .card {
        padding: 1rem;
        margin-top: 1.2rem;
    }

    .user-info img {
        width: 100%;
        height: 25vh;
        border-radius: 10px;
    }

    .user {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .user-info {
        padding: 1rem;
        box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.095);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 10px;
        flex-direction: column;
        width: 40%;
        margin-top: 3.5rem;
    }
}
